{% extends "base.html" %}

{% block content_basic %}
<section class="latest_news" id="home">
  <!-- latest_news section // style in html latest_news section-->
  <style>
    .latest_news {
      background: linear-gradient(to bottom right, #6441A5, #202020);
    }

    .lnt {
      color: var(--clr-tdf);
    }

    #monthly {
      background-color: var(--clr-nav);
    }

    #weekly {
      background-color: var(--clr-nav);
    }

    #weekly:hover, #monthly:hover{
      box-shadow: 0 0 0.5em var(--clr-neon), 0 0 0.5em var(--clr-neon);
      transform: scale(1.03);
      transition: transform .2s;
    }

    #news {
      color: var(--clr-tdf);
      font-size: 1.25rem;
      align-content: center;
    }
  </style> <!-- end of latest_news style -->
  <div class="p-2 p-md-5 mb-4 rounded">
    <div class="col-md-12 px-0">
      <h1 class="lnt display-4 fst-italic">The Latest News!</h1>
      <div class="container marketing">
        <!-- <hr class="top_divider" /> -->
        <br>
        <div class="row align-items-md-stretch">
          <div class="news col-md-6 p-3">
            <div class="h-100 p-5 rounded-3" id="weekly">
              <h2 class="meet_h2">Monthly</h2>
              <br>
              <p><span id="news">We'll be sending out a meeting invite for block 5</span></p>
              <br>
              <!-- <a class="btn btn-lg" href="{{ get_url(path='@/contact.md') }}">Get in the loop</a> -->
            </div>
          </div> <!-- end of news col-md-6 p-3 -->
          <br>
          <div class="news col-md-6 p-3">
            <div class="h-100 p-5 rounded-3" id="monthly">
              <h2 class="meet_h2">Semester</h2>
              <br>
              <p><span id="news">We plan to host a exciting event with roomba like robots and a hackathon</span></p>
              <br>
              <!-- <a class="btn btn-lg" href="{{ get_url(path='@/contact.md') }}">Get in the loop</a> -->
            </div>
          </div> <!-- end of news col-md-6 p-3 -->
        </div>
      </div> <!-- end of container marketing -->
      <!-- <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
        <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p> -->
    </div> <!-- end of col-md-12 px-0 -->
  </div> <!-- end of p-2 p-md-5 mb-4 rounded -->
</section>
<!-- end of latest_news -->
<br>
<section class="recent_blog">
  <!-- recent_blog section // style in html recent_blog section-->
  <style>
    .recent_blog {
      background: linear-gradient(to bottom left, #6441A5, #202020);
      padding: 1rem 10rem 1rem 10rem;
    }

    .highlight{
      color: var(--clr-tdf);
      justify-content: flex-end;
    display: flex;
    }

    .highlightBlog {
      color: var(--clr-tdf);
    }

    .read-more {
      color: var(--bs-link-hover-color);
    }

    .author,
    .date {
      color: var(--clr-tdf);
    }
  </style> <!-- end of recent_blog style -->
  <br>
  <h1 class="highlight display-4 fst-italic">Highlight Blog!</h1>
  <br>
  <div class="blog-card">
    <div class="meta">
      <div class="photo" style="background-image: images/file.jpg" "=""> <img src="images/writing.jpeg" alt="Writing Background" height="auto" width="600"></div>
      <ul class="details">
        <li class="author">C4</li>
        <li class="date">December 15, 2022</li>
        <li class="date">Looking for more experiences to share!</li>
        <!-- <li class="tags">
          <ul>
            <li><a href="#">Learn</a></li>
            <li><a href="#">Code</a></li>
            <li><a href="#">HTML</a></li>
            <li><a href="#">CSS</a></li>
          </ul>
        </li> -->
      </ul>
    </div> <!-- end of meta -->
    <div class="description">
      <h1>Have Any Experiences?</h1>
      <h2>Contact Us!</h2>
      <p class="highlightBlog"> Contact us (<i>Best To email us directly!</i>) and share a short description of your experience in the CS field and we will get 
        back to you on what we need to make your blog post happen!</p>
      <br>
      <a href="{{ get_url(path='@/contact.md') }}">Continue reading</a>
    </div> <!-- end of description -->
  </div> <!-- end of blog-card -->
  <br>
  <!-- <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
        <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p> -->
</section>
<!-- end of recent_blog -->
<section class="blog_feed">
   <!-- blog_feed section // style in html blog_feed section-->
  <style>
    .blog_feed {
      margin: 2rem 5rem 0 5rem;
    }

    .blogtitle{
      display: flex;
      justify-content: center;
      color: var(--clr-tdf);
      padding-bottom: 1rem;
      padding-top: 2rem;
    }

    #purpPost{
      background: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(24, 8, 35), rgb(65, 31, 89), rgb(135, 100, 222));
      color: var(--clr-tdf);
    }

    .button_theme {
      justify-content: space-evenly;
      display: flex;
    }

    .post:hover{
      transform: scale(1.02);
      transition: transform .2s;
    }

    #btn_theme {
      margin: 1rem 0 2rem 0;
      width: 8rem;
    }

    .theme,
    .stretched-link {
      color: var(--clr-tdf);
    }

    .card-title {
      color: var(--clr-tdf);
      text-shadow: 0 0 0.1em var(--bs-link-hover-color), 0 0 0.2em #571d78;
    }

    @media (max-width: 62em) {
      .button_theme {
        display: flex;
        flex-direction: column-reverse;
      }

      #btn_theme {
        margin: .5rem 0 .5rem 0;
        width: auto;
        height: 2rem;
        padding: .2px;
      }
    }

    @media (max-width: 88em) {
      .d-lg-block {
        display: none !important;
      }
    }
  </style> <!-- end of blog_feed style -->
    <div class="col-md-12 mb-4 px-0">
      <h1 class="blogtitle display-4 fst-italic">Our Community Blogs</h1>
      <div class="container marketing">
        <div class="container">
          <div class="row">
            <div class="col-sm-11 my-4 mx-auto ">
              <input type="text" id="myFilter" class="form-control" onkeyup="myFunction()" placeholder="Search for titles...">
            </div>
          </div> <!-- end of row -->
          <div class="button_theme" id="myBtnContainer">
            <button class="btn2" id="btn_theme" onclick="clearAll('all')">Show All</button>
            <button class="btn" id="btn_theme" onclick="filter('Technology')">Technology</button>
            <button class="btn" id="btn_theme" onclick="filter('Career Experiences')">Career Experiences</button>
            <button class="btn" id="btn_theme" onclick="filter('Skills')">Skills</button>
            <button class="btn" id="btn_theme" onclick="filter('Other')">Other</button>
          </div> <!-- end of button_theme -->
          <br>
          <div id="myItems">
            <div class="row mb-2">
              {% for page in section.pages %}
                <div class="post col-md-6 " id="post1"> <!-- basic card -->
                <!-- <h5 class="card-title"><a href="#">Card tne</a></h5> -->
                <div class="post row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                  <div class="post col p-4 d-flex flex-column position-static">
                    <h3 class="card-title mb-0">{{ page.title }}</h3>
                    <div class="mb-2 mt-1 text-muted">//: {{ page.date }} | <div class="theme d-inline-block mb-2">Skills
                      </div>
                    </div>
                    <p class="card-text mb-auto">{{ page.extra.summary }}</p>
                    <a href="{{ page.permalink }}" class="stretched-link">Continue reading</a>
                  </div>
                  <div class="col-auto d-none d-lg-block">
                    <img src="blogPosts/postImages/bootstrap.png" width="250" height="250" focusable="coolStuff" class="responsive">
                  </div>
                </div>
                </div> <!-- end of post 1 -->
              {% endfor %}
            </div> <!-- row mb-2 -->
          </div> <!-- end of myItems -->
        </div> <!-- container -->
      </div> <!-- container marketing -->
    
</div></section>
<!-- end of blog_feed -->
{% endblock content_basic %}